/* MAIN STYLE SHEET (comment can be removed) */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(https://yt3.ggpht.com/ytc/AKedOLTTlXUdsUaZs98RHerX3R8GUaxm0gwnO2qtgbjS=s900-c-k-c0x00ffffff-no-rj);
    background-size: cover;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    background-position: center;
    
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}



.title
{
   display:flex;
   justify-content:center;
   color:#000;
   font-size:2.2em;
   font-weight:800;
   margin-bottom:30px;
}

.content{

    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
}

.card{

    background-color:rgb(207, 207, 207);
    width:21.25em;
    box-shadow:05px 25px rgba(111/15%);
    border-radius:10px;
    padding:25px;
    margin:15px;
    transition:0.7s ease;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cards
{
  background-color:rgb(207, 207, 207);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: auto;
}

.card .img-card img{
    width:100%;
    height:auto;
    border-radius:10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }












/* TEMPLATE STYLING */

/* Custom */
.page-template-template-custom{
    background-color: red;
}
/* End Custom */